body {
	background: url('stars.gif');
	color: white;
	padding: 0px 10%;
	font-family: sans-serif;
}

header#logo {
	padding-left: 5%;
	padding-right: 5%;
}

header#logo img {
	max-width: 100%;
}

#logos {
	text-align: center;
}

#logos a {
	width: 45%;
	float: left;
	display: block;
}

#logos img {
	border: 0px;
	max-height: 192px;
}

a, a:visited {
	color: yellow;
}

a:hover {
	color: white;
}

a.register {
	background: url('redbutton.png') repeat scroll 0 0;
	color: white;
	display: block;
	height: 96px;
	font-size: 36px;
	width: 320px;
	text-align: center;
	text-decoration: none;
	padding: 0;
	margin: auto;
	line-height: 96px;
}

a.register:hover {
	color: yellow;
}

h2 {
	margin-left: 1em;
}
